@model ApplicationUser;

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalji korisnika</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Student"))
{
    <h2>Polozeni ispiti</h2>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    Ocena
                </th>
                <th>
                    Osvojeno Bodova
                </th>
                <th>
                    Redni broj Polaganja
                </th>
                <th>
                    Polozen
                </th>
                <th>
                    Ispit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.PolozeniIspiti as IList<Polaganje>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ocena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OsvojenoBodova)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RedniBrojPolaganja)
                    </td>
                    <td>
                        @if (item.Ocena > 5)
                        {
                            <span>DA</span>
                        }
                        else
                        {
                            <span>NE</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ispit.Naziv)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
@if (User.IsInRole("Profesor"))
{

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    Ocena
                </th>
                <th>
                    Osvojeno Bodova
                </th>
                <th>
                    Redni broj Polaganja
                </th>
                <th>
                    Polozen
                </th>
                <th>
                    Ispit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.PolozeniIspitiProf as IList<Polaganje>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ocena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OsvojenoBodova)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RedniBrojPolaganja)
                    </td>
                    <td>
                        @if (item.Ocena > 5)
                        {
                            <span>DA</span>
                        }
                        else
                        {
                            <span>NE</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ispit.Naziv)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}